@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono|Share+Tech|Source+Code+Pro);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

body {
  background-color: #000;
  color: #F1F1F1;
  font-family: 'Source Code Pro'; }

p, a {
  font-size: 1.15rem; }

header {
  height: 5rem; }
  header nav {
    position: fixed;
    width: 100%;
    z-index: 111;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-bottom-style: solid;
    border-bottom-color: #F1F1F1;
    border-bottom-width: 1px;
    background-color: #000; }
    header nav::after {
      clear: both;
      content: "";
      display: block; }
    header nav ul li {
      list-style: none;
      display: inline;
      padding: 0 1rem; }
    header nav a {
      text-transform: uppercase;
      color: #F1F1F1;
      font-size: 2rem; }
    header nav #contact_nav_link {
      float: right;
      margin-right: 1rem; }

nav ul li a:hover, footer a:hover {
  color: #428bca;
  text-decoration: none; }

#homepage_container #intro {
  padding: 2.35765%;
  background-image: url("../images/comp-grey-background-1920x1280.jpg");
  background-size: cover;
  background-position: 0rem -5rem;
  background-repeat: no-repeat;
  height: 45rem; }
  #homepage_container #intro p {
    margin: 6rem 31rem;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    font-size: 1.75rem;
    color: #428bca; }
    #homepage_container #intro p:last-child {
      margin-right: 0; }

.sectionTitle {
  font-size: 3rem;
  text-transform: uppercase; }

#projects {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  height: 52rem;
  padding-top: 5rem; }
  #projects::after {
    clear: both;
    content: "";
    display: block; }
  #projects a {
    text-transform: uppercase;
    color: #428bca;
    font-size: 1.5rem; }
  #projects #moreProjectsLink {
    text-decoration: none;
    float: right;
    margin: 3rem;
    color: #428bca; }
  #projects #moreProjectsLink:hover {
    text-decoration: underline; }

#projects .project_overflow_link {
  position: relative;
  left: 10em; }

.project_overflow_link:hover {
  text-decoration: underline; }

#projects .hover-tile-outer1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-right: 0;
  background: url("../images/placeholder_billmurray_460x300.jpg");
  background-position: top;
  background-size: cover; }
  #projects .hover-tile-outer1:last-child {
    margin-right: 0; }
  #projects .hover-tile-outer1 .project_overflow_link {
    position: relative;
    left: 18em; }

#projects .hover-tile-outer2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  background: url("../images/placeholder_billmurray_300x200.jpg");
  background-position: top;
  background-size: cover; }
  #projects .hover-tile-outer2:last-child {
    margin-right: 0; }

#projects .hover-tile-outer3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-right: 0;
  background: url("../images/placeholder_billmurray_300x200.jpg");
  background-position: top;
  background-size: cover; }
  #projects .hover-tile-outer3:last-child {
    margin-right: 0; }

#projects .hover-tile-outer4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  background: url("../images/placeholder_billmurray_460x300.jpg");
  background-position: top;
  background-size: cover; }
  #projects .hover-tile-outer4:last-child {
    margin-right: 0; }
  #projects .hover-tile-outer4 .project_overflow_link {
    position: relative;
    left: 18em; }

.hover-tile-outer {
  border: 1px solid #ddd;
  height: 15em;
  margin-bottom: 1.5; }
  @media screen and (min-width: 600px) {
    .hover-tile-outer {
      width: 40%; } }
  .hover-tile-outer .hover-tile-container {
    height: 15em;
    overflow: hidden; }
  .hover-tile-outer .hover-tile-container:hover > .hover-tile {
    transform: translate(0, -100%); }
  .hover-tile-outer .hover-tile {
    transition-duration: .75s;
    transition-timing-function: ease-in-out;
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: 1.5em; }
  .hover-tile-outer .hover-tile-hidden {
    background: rgba(0, 0, 0, 0.5); }
    .hover-tile-outer .hover-tile-hidden p {
      color: rgba(255, 255, 255, 0.7);
      line-height: 1.5; }
    .hover-tile-outer .hover-tile-hidden h4 {
      margin: 0 0 0.5em 0; }

#skills {
  clear: both;
  color: #000;
  background-color: #F1F1F1;
  padding: 3rem 8rem;
  padding-top: 5rem; }
  #skills img {
    height: 130px; }
  #skills .languageGallery1 {
    display: block;
    padding: 2.35765%; }
    #skills .languageGallery1::after {
      clear: both;
      content: "";
      display: block; }
    #skills .languageGallery1 #img1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 10.43705%;
      margin-left: 10.23577%; }
      #skills .languageGallery1 #img1:last-child {
        margin-right: 0; }
    #skills .languageGallery1 #img2 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 10.43705%;
      margin-left: 10.23577%; }
      #skills .languageGallery1 #img2:last-child {
        margin-right: 0; }
    #skills .languageGallery1 #img3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 10.43705%;
      margin-left: 10.23577%; }
      #skills .languageGallery1 #img3:last-child {
        margin-right: 0; }
    #skills .languageGallery1 #img4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 10.43705%;
      margin-left: 10.23577%; }
      #skills .languageGallery1 #img4:last-child {
        margin-right: 0; }
  #skills .languageGallery2 {
    display: block;
    padding: 2.35765%; }
    #skills .languageGallery2::after {
      clear: both;
      content: "";
      display: block; }
    #skills .languageGallery2 #img5 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 10.43705%;
      margin-left: 21.32451%; }
      #skills .languageGallery2 #img5:last-child {
        margin-right: 0; }
    #skills .languageGallery2 #img6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 10.43705%;
      margin-left: 9.80927%; }
      #skills .languageGallery2 #img6:last-child {
        margin-right: 0; }
    #skills .languageGallery2 #img7 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 10.43705%;
      margin-left: 11.94173%; }
      #skills .languageGallery2 #img7:last-child {
        margin-right: 0; }

#contact_footer {
  height: 23rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  padding-top: 3rem; }
  #contact_footer::after {
    clear: both;
    content: "";
    display: block; }
  #contact_footer a {
    color: #428bca;
    text-decoration: none; }
  #contact_footer a:hover {
    text-decoration: underline; }
  #contact_footer #mailIcon {
    height: 1rem;
    width: 1rem; }
  #contact_footer #contactImage {
    height: 14rem;
    width: 13rem;
    float: right; }
  #contact_footer .foot1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #contact_footer .foot1:last-child {
      margin-right: 0; }
  #contact_footer .foot2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin: 3rem 0 0; }
    #contact_footer .foot2:last-child {
      margin-right: 0; }

#contact_page_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  color: #F1F1F1;
  padding-top: 5rem; }
  #contact_page_container::after {
    clear: both;
    content: "";
    display: block; }
  #contact_page_container #contact_page_myinfo {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 36.4891%; }
    #contact_page_container #contact_page_myinfo:last-child {
      margin-right: 0; }
    #contact_page_container #contact_page_myinfo a {
      color: #428bca; }
    #contact_page_container #contact_page_myinfo a:hover {
      color: #428bca;
      text-decoration: underline; }
  #contact_page_container #contact_form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    font-size: 1.1rem; }
    #contact_page_container #contact_form:last-child {
      margin-right: 0; }
    #contact_page_container #contact_form input, #contact_page_container #contact_form textarea {
      color: #000; }
    #contact_page_container #contact_form #button {
      border-radius: 10px;
      text-transform: uppercase;
      background-color: #428bca;
      color: #000;
      float: right; }

.side-image {
  padding: 2.35765%;
  background: #F1F1F1; }
  @media screen and (min-width: 900px) {
    .side-image {
      display: table;
      width: 100%;
      table-layout: fixed; } }
  .side-image .images-wrapper {
    background-image: url("../images/placeholder_billmurray_460x300.jpg");
    background-color: #B5EBEB;
    background-size: cover;
    border-bottom: 1px solid rgba(38, 74, 38, 0.2);
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 900px) {
      .side-image .images-wrapper {
        display: table-cell;
        width: 33.33333%;
        background-position: bottom;
        background-size: cover;
        border-right: 1px solid rgba(38, 74, 38, 0.2); } }
  .side-image .side-image-content {
    display: table-cell;
    width: 100%;
    padding: 1em 1em 4em 1em; }
    @media screen and (min-width: 900px) {
      .side-image .side-image-content {
        display: table-cell;
        width: 66.66667%;
        padding: 2em 2em 4em 2em; } }
    .side-image .side-image-content p {
      color: #333; }

/*# sourceMappingURL=main.css.map */
