body {
  width: auto;
  margin: 0 auto;
}

header {
  position: fixed; 
  z-index: 1;
  padding: 15px;
  text-align: right;
  background-color: black;
}

p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline;
  padding: 20px;
  margin-right: 20px;
}

nav ul li a {
  text-transform: uppercase;
  color: #fff;
}

nav ul li a:hover, footer a:hover {
  color: red;
  text-decoration: none;
}

nav ul li a:focus, footer a:focus {
  text-decoration: none;
}

.sectionTitle {
  font-size: 3em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
}

#intro p {
  width: 45%;
  position: relative;
  bottom: 330px;
  font-size: 1.55em;
}

#intro img {
  height: 400px;
  width: 430px;
  position: relative;
  top: 286px;
  left: -60px;
}

#intro {
  text-align: left;
  margin: 0 0 187px 60px;  
  background-image: url('images/prog.png'); 
  background-size: 48%;
  background-position: 600px;
  background-repeat: no-repeat;
}

.lineBreak {
  line-height: 1.5; 
}

p#myName {
  font-size: 6.5em;
  width: 50%;
  position: relative;
  top: 600px;
  left: 650px;
}

#projects, #skills, footer {
  color: #fff;
  padding: 40px;
  background-color: black;
  border-top:1px solid #ccc;
}


#projects:after {
  content: "";
  display: table;
  clear: both;
}

.portfolioGallery {
  float: left;
  margin: 0 1% 70px 1%;
}

.portfolioGallery p {
  width: 300px;
  height: 50px;
}

#skills {
  clear: both;
}

.languageGallery img {
  height: 150px;
  width: 150px;
  float: left;

}

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
}

footer a {
  color: #fff;
}