body {
  width: auto;
  margin: 0 auto;
  background-color: #000; 
}

header {
  position: fixed; 
  z-index: 111;
  padding: 15px;
  text-align: right;
  background-color: #000;
}

p, a {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline;
  padding: 0 20px;
}

nav ul li a, #projects a {
  text-transform: uppercase;
  color: #fff;
}

#contact a {
  color: #fff; 
  text-decoration: underline;
}

#projects #moreProjectsLink {
  text-decoration: underline;
  float: right;
  margin: 0 100px;
}

#projects a:hover, #contact a:hover {
  color: red;
  text-decoration: underline;
}

nav ul li a:hover, footer a:hover {
  color: red;
  text-decoration: none;
}

nav ul li a:focus, footer a:focus, #projects a:focus {
  text-decoration: none;
}

#projects a:focus {
  text-decoration: underline;
}

#intro {
  text-align: left;
  background-color: #fff; 
  background-image: url('../images/prog.png'); 
  background-size: 48%;
  background-position: 600px;
  background-repeat: no-repeat;
  height: 785px;
}

#intro p {
  width: 33%;
  position: relative;
  bottom: 285px;
  left: 75px;
  font-size: 1.55em;
}

#intro #myName {
  font-size: 6.5em;
  width: 50%;
  position: relative;
  top: 700px;
  left: 725px;
}

#intro img {
  height: 400px;
  width: 430px;
  position: relative;
  top: 366px;
  left: -60px;
}

#intro p .lineBreak {
  line-height: 1.5; 
}

.sectionTitle {
  font-size: 3.5em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0;
}

#projects {
  height: 185px;
}


#projects, #skills, #contact {
  color: #fff;
  padding: 40px;
  background-color: black;
  border-top: 1px solid #ccc;
}

#projects {
  content: "";
  display: table;
  clear: both;
}

.portfolioGallery {
  float: left;
  margin: 0 1% 70px 1%;
}

.portfolioGallery p {
  width: 300px;
  height: 50px;
}

#skills {
  clear: both;
  height: 785px;
}

#skills .languageGallery {
  margin: 0 100px;
  height: 400px;
}

#skills .languageGallery img {
  height: 125px;
  width: 125px;
  margin: 30px;
}

#skills .languageGallery #img2 {
  position: relative;
  top: 175px;
  margin: 0 10px;
}

#skills .languageGallery #img3 {
  position: relative;
  margin: 0 10px;
}

#skills .languageGallery #img4 {
  position: relative;
  top: 175px;
  margin: 0 10px;
}

#skills .languageGallery #img5 {
  position: relative;
  margin: 0 10px;
}

#skills .languageGallery #img6 {
  position: relative;
  top: 175px;
  margin: 0 10px;
}

#skills .languageGallery #img7 {
  position: relative;
  margin: 0 10px;
}

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
}

footer a {
  color: #fff;
}

footer #mailIcon {
  height: 1em;
  width: 1em;
}

#contactImage {
  height: 175px;
  width: 150px;
  float: right;
  position: relative;
  bottom: 155px;
  margin-bottom: -75px;
}

#contactPageContainer {
  width: auto;
  margin: 100px 200px;
}

#contact form {
  margin: auto;
  position: relative;
  left: 300px;
  top: -60px;
  font-size: 1.2em;
  width: 550px;
  height: 450px;
}

#contact form input {
  position: relative;
  color: #000;
  width: 300px;
}

#contact #messageInput {
  width: 300px;
  height: 200px;
}

#contact form button {
  border-radius: 19px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  position: relative;
  left: 257px;
  top: 10px;
}


